<div class="input-group mt-3 mb-3">
  <input type="text" class="form-control shadow-none" [(ngModel)]="searchDetails.searchText" placeholder="search..." aria-label="search..." aria-describedby="button-addon2">
  <button class="btn btn-outline-primary" type="button" (click)="search()" id="button-addon2">Search</button>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="searchDetails.byWhat" id="byTitle" value="byTitle">
  <label class="form-check-label" for="byTitle">by title</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="searchDetails.byWhat" id="byAuthor" value="byAuthor">
  <label class="form-check-label" for="byAuthor">by author</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="searchDetails.byWhat" id="byCategory" value="byCategory">
  <label class="form-check-label" for="byCategory">by categorie</label>
</div>